@import "base/var";

.my-evaluate{
  height: 100%;
  background-color: $bgColor;
  overflow: auto;

  .evaluate-item{
    margin: 0.25rem 0;
    padding: 0 1.0rem;
    background-color: $white;
    font-size: 0.8rem;

    .order-info{
      justify-content: space-between;
      padding: 0.5rem 0;
    }

    .evaluates{
      padding: 0 0 1.0rem;
      font-size: 0.8rem;
    }
  }
}
