.orderIndex{
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
	.tab-row {
      height: 2.75rem;
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      position: fixed;
      top: 0px;
      line-height: 2.75rem;
      background: white;
      z-index: 99;
      .myTab-item {
        width: 20%;
        text-align: center;
        position: relative;
        font-size: 0.95rem;
        .textCon{
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          width: 77%;
          margin: auto;
        }
        .onfocusColor{
          color: #18d0a6;
          border-bottom: solid 1px;
        }
      }
    }
    .orderLists{
        position: absolute;
        height: -webkit-calc(100% - 2.75rem);
        top: 2.75rem;
        display: block;
        width: 100%;
        .orderItem{
            height: 10rem;
            background: darkcyan;
            padding: 0.5rem;
            .line1{
                width: 100%;
                height: 2.5rem;
                background: silver;
                line-height: 2.5rem;
                .span1{

                }
                .span2{

                }
                .span3{
                      float: right;
                      color: #f52828;
                }
            }
            .line2{
                width: 100%;
                height: 5rem;
                background: #8f90b9;
                line-height: 5rem;
                .vertical1{
                    float: left;
                    height: 4rem;
                    width: 4rem;
                    margin: 0.5rem;
                    border-radius: 0.25rem;
                }
            }
            .line3{

            }
        }
    }
}