@import "base/var";

.orderIndex {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  font-size: 0.85rem;
  .tab-row {
    height: 2.2rem;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0px;
    line-height: 2.2rem;
    background: white;
    z-index: 99;
    .myTab-item {
      width: 20%;
      text-align: center;
      position: relative;
      font-size: 0.8rem;
      .textCon {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 77%;
        margin: auto;
      }
      .onfocusColor {
        border-bottom: solid 1px;
        color: #18d0a6;
      }
    }
  }

  .loadmore-wrapper{
    position: absolute;
    top: 2.7rem;
    left: 0;
    bottom: 2.6rem;
    width: 100%;
    overflow: scroll;
  }

  .orderLists {
    display: block;
    width: 100%;
    padding-bottom: .5rem;

    .orderItem {
      &:first-child{
        margin-top: 0;
      }
      
      background: $white;
      padding: 0 1.0rem;
      margin-top: 0.5rem;
      .line1 {
        width: 100%;
        height: 2.5rem;
        line-height: 2.5rem;
        .span1 {

        }
        .span2 {

        }
        .span3 {
          float: right;
          color: #f52828;
        }
      }
      .line2 {
        width: 100%;
        height: 5.0rem;
        position: relative;

        .vertical1 {
          height: 3.2rem;
          width: 3.2rem;
          margin: 1rem;
          margin-left: 0;
          border-radius: 50%;
        }
        .vertical2 {
          float: left;
          margin: auto 0;
          .time {
            font-size: 0.8rem;
          }
          .address {
            margin-top: 0.5rem;
            font-size: 0.7rem;
            color: #999999;
          }
        }
        .vertical3 {
          position: absolute;
          right: 0rem;
          top: 1.3rem;
          font-size: 0.8rem;
          color: #999999;
        }
      }
      .line3 {
        height: 3.0rem;
        justify-content: space-between;

        .moneyColor {
          color: #f52828
        }
        .tabRight {
          .butRight {
            justify-content: center;
            width: 4.0rem;
            height: 1.5rem;
            border: 1px solid $fontColor;
            border-radius: 4px;

            &:last-child{
              margin-left: 0.5rem;
            }
          }

          .butRight.red-btn{
            border-color: $projectRed;
            color: $projectRed;
          }
        }
      }
    }
  }
}
