@import 'base/var';

.person-info{
  height: 100%;
  padding-top: 0.5rem;
  background-color: $bgColor;

  .info-list{
    padding: 0 1.0rem;
    background-color: $white;

    .list-item{
      justify-content: space-between;
      height: 2.5rem;

      .label{
        font-size: 0.8rem;
      }

      .content{
        font-size: 0.8rem;
        color: #666666;
        border: none;
        outline: none;
        text-align: right;
      }
    }
  }

  .confirm-btn{
    width: 80%;
    height: 2.5rem;
    margin: 3.5rem auto 0;
    background-color: $projectGreen;
    border-radius: 5px;
    color: $white;
    font-size: 0.9rem;
  }
}
