@import "base/var";

.stuCertification {
  .topTitle {
    width: 100%;
    height: 8.0rem;
    position: relative;
    .middleText {
      text-indent: 5%;
      font-size: 1.5rem;
      font-weight: 800;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .inputContent {
    width: 90%;
    margin: auto;
    font-size: 0.975rem;
    margin-bottom: 2rem;
    .commonLine {
      width: 100%;
      height: 2.5rem;
      line-height: 2.5rem;
      clear: both;
      .span1 {
        float: left;
        font-size: 0.8rem;
      }
      .mustFlow {
        float: left;
        color: red;
        font-size: 1.5rem;
        margin-left: 0.2rem;
      }
      .span2 {
        float: right;
        .input-row {
          border: none;
          font-size: inherit;
          height: 2rem;
          line-height: 2rem;
          display: inline-block;
          margin-top: -0.25rem;
          outline: medium;
          text-align: right;
          font-size: 0.8rem;
        }
        .getCode {
          float: right;
          border: 1px solid #e63744;
          height: 1.5rem;
          margin-top: 0.55rem;
          border-radius: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 0.875rem;
          width: 3rem;
          color: #e63744;
          margin-left: 0.5rem;
        }
        .getCode2 {
          background: #d4dcdf;
          color: #ffffff;
          border: 0;
        }
        img {
          float: right;
          width: 1rem;
          margin-top: 0.8rem;
        }
        .selectWidth {
          //width: 10rem;
          color: #9ba6a8;
          float: left;
          select {
            direction: rtl;
            width: 100%;
            option {
              direction: ltr;
            }
          }
        }
      }
    }
    .nextBut {
      height: 2.5rem;
      line-height: 2.5rem;
      background: #18d0a6;
      margin: auto;
      margin-top: 3rem;
      text-align: center;
      color: #ffffff;
      border-radius: 5px;
    }
  }
}
